body{
    height: 100vh;
    min-height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #33FF33  , black );
}